* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    max-width: 1280px;
    margin-inline: auto;
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

.nav__item {
    text-decoration: none;
}
